// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway|Special+Elite:100,200,300,400,600);

// Modular Scale table
// Bases: a = 16px, b = 1200
// Ratios: 1.618

$six-up 	: 67.773;
$five-up 	: 66.882;
$four-up 	: 41.887;
$three-up 	: 41.336;
$two-up 	: 25.888;
$one-up 	: 25.548;

$six-down 	: 9.889;
$five-down 	: 6.112;
$four-down 	: 3.777;
$three-down	: 2.335;
$two-down 	: 1.443;
$one-down 	: 0.892;
