aside {
	display: none;
}

aside nav ul {
	list-style: none;
	padding: 0;
}

aside nav ul li {
	padding: 0.7rem 0;
	border-bottom: 2px solid $white;
}

aside nav ul li a {
	text-decoration: none;
	color: $white;
}

@include susy-breakpoint($gallery-3) {
	aside {
		@include span(3 of 16);

		display: block;
	}
}
